certifi==2026.1.4
propcache==0.4.1
frozenlist==1.8.0
contourpy==1.3.3
yarl==1.22.0
regex==2026.1.15
PyYAML==6.0.3
safetensors==0.7.0
Jinja2==3.1.6
aiohttp==3.13.3
nvidia-cufile-cu12==1.13.1.3
protobuf==6.33.5
python-dateutil==2.9.0.post0
accelerate==1.12.0
pydantic==2.12.5
mpmath==1.3.0
seaborn==0.13.2
gitdb==4.0.12
nvidia-cuda-runtime-cu12==12.8.90
multidict==6.7.1
nvidia-nvtx-cu12==12.8.90
typer==0.21.1
nvidia-curand-cu12==10.3.9.90
httpcore==1.0.9
GitPython==3.1.46
psutil==7.2.2
click==8.3.1
huggingface_hub==1.3.7
platformdirs==4.5.1
charset-normalizer==3.4.4
rich==14.3.2
anyio==4.12.1
tqdm==4.67.2
smmap==5.0.2
datasets==4.5.0
xxhash==3.6.0
MarkupSafe==3.0.3
trl==0.27.1
sentry-sdk==2.51.0
h11==0.16.0
packaging==26.0
typer-slim==0.21.1
urllib3==2.6.3
typing_extensions==4.15.0
httpx==0.28.1
nvidia-cusolver-cu12==11.7.3.90
kiwisolver==1.4.9
attrs==25.4.0
threadpoolctl==3.6.0
nvidia-cusparse-cu12==12.5.8.93
requests==2.32.5
cuda-pathfinder==1.3.3
pyparsing==3.3.2
dill==0.4.0
nvidia-cusparselt-cu12==0.7.1
multiprocess==0.70.18
aiohappyeyeballs==2.6.1
fsspec==2025.10.0
nvidia-nccl-cu12==2.27.5
six==1.17.0
nvidia-cufft-cu12==11.3.3.83
cycler==0.12.1
annotated-types==0.7.0
idna==3.11
mdurl==0.1.2
joblib==1.5.3
typing-inspection==0.4.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cudnn-cu12==9.10.2.21
nvidia-nvshmem-cu12==3.4.5
aiosignal==1.4.0
peft==0.18.1
filelock==3.20.3
nvidia-cuda-nvrtc-cu12==12.8.93
shellingham==1.5.4
nvidia-cuda-cupti-cu12==12.8.90
markdown-it-py==4.0.0
pydantic_core==2.41.5
bitsandbytes==0.49.1
cuda-bindings==12.9.4
nvidia-nvjitlink-cu12==12.8.93
hf-xet==1.2.0
triton==3.6.0
Pygments==2.19.2
pyarrow==23.0.0
reasoning-mirage==0.1.0
tokenizers==0.22.2
matplotlib==3.10.8
pillow==12.1.0
fonttools==4.61.1
numpy==2.4.2
networkx==3.6.1
scikit-learn==1.8.0
wandb==0.24.1
scipy==1.17.0
sympy==1.14.0
pandas==3.0.0
transformers==5.0.0
torch==2.10.0
